<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.go.fish"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读取sdcard -->

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 联网 -->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 使用wifi -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 使用移动网络 -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取位置信息 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->

    <application
        android:name="com.go.fish.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.go.fish.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.go.fish.ui.BaseUI"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.go.fish.ui.SearchUI"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustNothing"
            >
        </activity>
        <activity
            android:name="com.go.fish.ui.RegisterUI"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.go.fish.ui.HomeUI"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0ByhEGDFPEuV7VOvfm8ih0HS" />
    </application>

</manifest>